rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users Collection
    match /users/{userId} {
      allow read, write: if true;
    }
    
    // Credentials Collection
    match /creds/{email} {
      allow read, write: if true;
    }
    
    // Rooms Collection
    match /rooms/{roomId} {
      allow read, write: if true;
    }
    
    // Friends Collection
    match /friends/{userId} {
      allow read, write: if true;
    }
    
    // Messages Collection
    match /messages/{roomId} {
      allow read, write: if true;
    }
    
    // Questions Collection
    match /questions/{questionId} {
      allow read, write: if true;
    }
  }
}
